<body>
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <form  class="box" [formGroup]="loginForm" (ngSubmit)="login()">
                  <h1>Login</h1>
                  <h5> Please enter your login and password!</h5>
                 
                  <input type="text" name="" placeholder="Username" formControlName="userName">

                  <input type="password" name="" placeholder="Password"  formControlName="password">
                   <a class="forgot text-muted" href="#">Forgot password?</a>
                   <input type="submit" name="" value="Login" >
                   <!-- <input type="submit" name="" value=" user Login" href="#" routerLink="/user"> -->
                  <!-- <div class="col-md-12">
                      <ul class="social-network social-circle">
                          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f" ></i></a></li>
                          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                  </div> -->
              </form>
          </div>
      </div>
  </div>
</div>
</body>

