.img{
  background-image: url('https://cdn.wallpapersafari.com/19/90/FtA1IS.jpg');
  background-size: cover;
  height: 657px;
}
.navbar
{
  background-image: url("https://th.bing.com/th/id/R.510e7ad00bf9d251b126b0b8b065861c?rik=bKP1q30CkHh00A&riu=http%3a%2f%2fhdqwalls.com%2fwallpapers%2fbrown-dark-board-wood-texture-4k-u4.jpg&ehk=HZ2aJGB7kL5Lvl38OYVCcyNoe0%2bb3NGi4rb522EEsEc%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}
.dropdown-menu{
  background-color: rgba(125, 65, 160, 0.582);
}
.d-flex{
  margin-left: 900px;
}

