<body>
<div class="wrapper">
  <div class="card">
      <form action="#" class="d-flex flex-column" [formGroup]="roleForm">

          <div class="d-flex align-items-center input-field my-3 mb-4">
              <!-- <span class="far fa-user p-2"></span> -->
              <!-- <input type="text" placeholder="Username or Email" required class="form-control"> -->
              <label style="color:aliceblue">RoleName:</label>
               <input type="text" class="form-control" formControlName="rolename">
              <!-- <select style=" width: -webkit-fill-available" class="form-control" formControlName="rolename">
                <option style="display:none">Choose... RoleName </option>
                <option>Admin</option>
                <option>Manager</option>
                <option>User</option>
              </select> -->

          </div>
          <div class="err" *ngIf="roleForm.controls['rolename'].invalid && (roleForm.controls['rolename'].dirty || roleForm.controls['rolename'].touched)">
            <div class="text-danger" *ngIf="roleForm.controls['rolename'].errors?.['required']">Role Name is required </div>
          </div>
          <div class="d-flex align-items-center input-field my-3 mb-4">
            <label style="color:aliceblue">Roleuniqid:</label>
               <input type="text" class="form-control" formControlName="roleuniqid">

          </div>
          <div class="err" *ngIf="roleForm.controls['roleuniqid'].invalid && (roleForm.controls['roleuniqid'].dirty || roleForm.controls['roleuniqid'].touched)">
            <div class="text-danger" *ngIf="roleForm.controls['roleuniqid'].errors?.['required']">Role Uniqid is required </div>
          </div>
          <div class="d-flex align-items-center input-field my-3 mb-4">
            <!-- <span class="far fa-user p-2"></span> -->
            <!-- <input type="text" placeholder="Username or Email" required class="form-control"> -->
            <label style="color:aliceblue">RoleType:</label>
            <select class="form-control" formControlName="roletype">
              <option value="" disabled selected hidden>choose... RoleType</option>
              <option>A</option>
              <option>F</option>
              <option>B</option>
            </select>

        </div>
        <div class="err" *ngIf="roleForm.controls['roletype'].invalid && (roleForm.controls['roletype'].dirty || roleForm.controls['roletype'].touched)">
          <div class="text-danger" *ngIf="roleForm.controls['roletype'].errors?.['required']">Role Type is required </div>
        </div>
        <div class="d-flex align-items-center input-field my-3 mb-4">
          <!-- <span class="far fa-user p-2"></span> -->
          <!-- <input type="text" placeholder="Username or Email" required class="form-control"> -->
          <label style="color:aliceblue">RoleStatus:</label>
          <select class="form-control" formControlName="rolestatus">
            <option  value="" disabled selected hidden>Choose... RoleStatus </option>
            <option>Y</option>
            <option>D</option>
          </select>

      </div>
      <div class="err" *ngIf="roleForm.controls['rolestatus'].invalid && (roleForm.controls['rolestatus'].dirty || roleForm.controls['rolestatus'].touched)">
        <div class="text-danger" *ngIf="roleForm.controls['rolestatus'].errors?.['required']">Role Status is required </div>
      </div>
      </form>
         <button type="button" class="btn btn-secondary" (click)="SaveRoles()" [disabled]="roleForm.invalid"> Add Role!! </button>

  </div>
</div>
</body>
