<body>
  <div class="container rounded bg-white mt-6">
    <div class="row">
        <div class="col-md-2 border-right">
          <!-- <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" [src]="url" width="200" height="200">
            <input  type="file" style="display:none;" (change)="selectFile($event)" #input><br>
            <button type="button" (click)="input.click()" class="btn btn-warning"> Upload</button><br>

            <button type="button" class="btn btn-info">Save Image</button>
            <span class="font-weight-bold" style="color:aliceblue">change the image</span>

            <span  style="color:aliceblue">take your own picture</span></div>  -->

        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
              <form  [formGroup]="editForm" >
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                      <i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                        <a  style="color:aliceblue"  style="color:aliceblue" routerLink="/admin">Back to admin</a>
                    </div>
                    <h6 class="text-right" style="color:aliceblue">Edit Profile</h6>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label  style="color:aliceblue">UserFirstName</label><input type="text" class="form-control" placeholder="User-Firstname" formControlName="fname" ></div>
                    <div class="col-md-6"><label  style="color:aliceblue"> UserLastName</label><input type="text" class="form-control" placeholder="User-Lastnmae" formControlName="lname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label  style="color:aliceblue"> UserPhone</label><input type="text" class="form-control" placeholder="User-Phone" formControlName="mobile"></div>
                    <div class="col-md-6"><label  style="color:aliceblue"> UserEmail</label><input type="text" class="form-control" placeholder="User-Email" formControlName="email"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label  style="color:aliceblue"> UserAddress</label><input type="text" class="form-control" placeholder="User-Address" formControlName="address"></div>
                    <div class="col-md-6"><label  style="color:aliceblue"> UserMapaddrss</label><input type="text" class="form-control" placeholder="User-Mapaddresslink" formControlName="mapAddressLink"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label  style="color:aliceblue"> UserUserName</label><input type="text" class="form-control" placeholder="User-Username" formControlName="user_name"></div>
                    <div class="col-md-6"><label style="color:aliceblue"> UserPassword</label><input type="text" class="form-control" placeholder="User-Password" formControlName="user_pass"></div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-6"><label style="color:aliceblue"> UserProfileImage </label><input type="text" class="form-control" placeholder="User-Profileimage" formControlName="user_Profileimage"></div>
                  <div class="col-md-6">
                    <!-- <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" formControlName="isAdmin" >
                    <label class="form-check-label" for="flexSwitchCheckChecked"  style="color:aliceblue" >IsAdmin</label>
                  </div> -->
                  <label style="color:aliceblue"> IsAdmin </label><select style=" width: -webkit-fill-available" class="form-select" formControlName="isAdmin">
                    <option value="" disabled selected hidden>Choose.... </option>
                    <option>Y</option>
                    <option>N</option></select>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><label style="color:aliceblue"> User Type </label><select style=" width: -webkit-fill-available" class="form-select" formControlName="type">
                                                <option value="" disabled selected hidden>Choose.... </option>
                                                <option>A</option>
                                                <option>U</option></select></div>
                  <div class="col-md-6"><label style="color:aliceblue"> User Status </label><input type="text" class="form-control" placeholder="User_Status" formControlName="user_status"></div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6"><label style="color:aliceblue"> UserRole </label><input type="text" class="form-control" placeholder="user-Role" formControlName="user_role"></div>

            </div>
                <div class="mt-5 text-right">
                  <button class="btn btn-primary profile-button" type="button" (click)="SaveUser()">Update Profile</button></div>
               </form>
            </div>
        </div>
    </div>
  </div>
  </body>

